<div class="container shadow p-3">
  <div class="border p-3 rounded">
    <div class="form-group container">
      <label for="tempControl">Zeljena Vlaznost :</label>
      <input
        type="number"
        name="tempControl"
        class="form-control"
        [formControl]="tempControl"
      />
      <button (click)="ukljuci()" class="btn btn-success mt-2">
        Ukljuci Osvezavac
      </button>
    </div>
    <div class="m-1 ml-3">
      <button (click)="ugasi()" class="btn btn-danger">Ugasi Osvezavac</button>
    </div>
    <div class="p-2">
      <div style="display: block;">
        <canvas
          baseChart
          [chartType]="chartType"
          [datasets]="chartDatasets"
          [labels]="chartLabels"
          [colors]="chartColors"
          [options]="chartOptions"
          [legend]="true"
        >
        </canvas>
      </div>
    </div>

    <div class="m-3">
      Max Vlaznost : {{ vlaznostService.osvezavacData.MaxVlaz }}%, Min Vlaznost
      : {{ vlaznostService.osvezavacData.MinVlaz }}%.
    </div>
    <div class="m-3">
      Vreme Rada : {{ vlaznostService.osvezavacData.VremeRada }}.
    </div>
  </div>
</div>
