<div>   
    <div class="form-group container">
        <label for="tempControl">Zeljena Vlaznost :</label>
        <input
          type="number"
          name="tempControl"
          class="form-control"
          [formControl]="tempControl"
        />
        <button (click)="ukljuci()" class="btn btn-success">Ukljuci Osvezavac</button>
        </div>
        <div>
    <button (click)="ugasi()" class="btn btn-danger">Ugasi Osvezavac</button>
    </div>
    <div>
        <div style="display: block">
          <canvas
            baseChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
          >
          </canvas>
        </div>
    </div>

    <div>Max Vlaznost : {{vlaznostService.osvezavacData.MaxVlaz}}%, Min Vlaznost : {{vlaznostService.osvezavacData.MinVlaz}}%.</div>
    <div>Vreme Rada : {{vlaznostService.osvezavacData.VremeRada}}.</div>
</div>

