<div class="container shadow p-3">
  <div class="border p-3 rounded">
    <div class="form-group container">
      <button (click)="ukljuci()" class="btn btn-success mt-2">
        Ukljuci Preciscavac
      </button>
    </div>
    <div class="m-1 ml-3">
      <button (click)="ugasi()" class="btn btn-danger">
        Ugasi Preciscavac
      </button>
    </div>
    <div class="p-2">
      <div *ngIf="preciscavacService.temp.length > 0" style="display: block;">
        <canvas
          baseChart
          [chartType]="chartType"
          [datasets]="chartDatasets"
          [labels]="chartLabels"
          [colors]="chartColors"
          [options]="chartOptions"
          [legend]="true"
        >
        </canvas>
      </div>
    </div>

    <div class="m-3">
      Trenutna Zagadjenost Vazduha: {{ preciscavacService.preciscavacData.podatakVrednost.toFixed(1)}}ppm.       Potrosena Energija Danas: {{ preciscavacService.preciscavacData.potrosnjaUredjaja.toFixed(1) }}J.
    </div>
    <div class="m-3">
      Vreme Rada Danas: {{ (preciscavacService.preciscavacData.potrosnjaUredjaja / 1).toFixed(1)}}.    Stanje Uredjaja: {{ stanje()}}.
    </div>
  </div>
</div>
