<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 80px;">
  <a class="navbar-brand" routerLink="">Smart House</a>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/klima">Klima</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/preciscavac">Preciscavac Vazduha</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/osvezavac">Osvezavac Vazduha</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/boiler">Boiler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tv">Tv</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sijalice">Sijalice</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/potrosnja">Potrosnja</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>