<h1>Smart House</h1>
<nav class="navbar justify-content-center" style="height: 80px;">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/klima">Klima</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/preciscavac">Preciscavac Vazduha</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/osvezavac">Osvezavac Vazduha</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/boiler">Boiler</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/tv">Tv</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/sijalice">Sijalice</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/potrosnja">Potrosnja</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>