<div class="container shadow p-3">
  <div
    class="text-center border p-5 m-5 rounded bg-secondary text-light"
    style="margin-top: 100px;"
  >
    Dobrodosli na Smart House platformu!
  </div>
  <div
    class="text-center border p-5 m-5 rounded bg-secondary text-light"
    style="margin-top: 100px;"
  >
    Aplikaciju dizajniranu samo za Vas koja Vam pomaze da lakse obavljate
    svakodnevne zadatke i efikasnije vodite racuna o potrosnji Vaseg doma.
  </div>
  <div
    class="text-center border p-5 m-5 rounded bg-secondary text-light"
    style="margin-top: 100px;"
  >
    Brzo i lako Kontrolisite svaki uredjaj u Vasem Domu uz Smart House sistem.
  </div>
</div>
