<div class="container shadow p-3">
  <div class="border p-3 rounded">
    <div class="form-group container">
      <label for="tempControl">Zeljena Temperatura :</label>
      <input
        type="number"
        name="tempControl"
        class="form-control"
        [formControl]="tempControl"
      />
      <button (click)="ukljuci()" class="btn btn-success mt-2">
        Ukljuci Boiler
      </button>
    </div>
    <div class="m-1 ml-3">
      <button (click)="ugasi()" class="btn btn-danger">Ugasi Boiler</button>
    </div>
    <div class="p-2">
      <div *ngIf="boilerService.temp.length > 0" style="display: block;">
        <canvas
          baseChart
          [chartType]="chartType"
          [datasets]="chartDatasets"
          [labels]="chartLabels"
          [colors]="chartColors"
          [options]="chartOptions"
          [legend]="true"
        >
        </canvas>
      </div>
    </div>
    <div class="m-3">
      Trenutna Temperatura Vode: {{ boilerService.boilerTemp.podatakVrednost.toFixed(1)}}°C.       Potrosena Energija Danas: {{ boilerService.boilerTemp.potrosnjaUredjaja.toFixed(1) }}J.
    </div>
    <div class="m-3">
      Vreme Rada Danas: {{ (boilerService.boilerTemp.potrosnjaUredjaja / 6).toFixed(1)}}.    Stanje Uredjaja: {{ stanje()}}.
    </div>
  </div>
</div>
