<div class="container shadow p-3">
  <div>
    <ul *ngFor="let si of sijalice; let i = index">
      <div class="border rounded p-2 shadow">
        Sijalica {{ i + 1 }} :
        <button
          *ngIf="sijalice[i] == false"
          (click)="upaliSijalicu(i)"
          class="btn btn-success"
        >
          Upali
        </button>
        <button
          *ngIf="sijalice[i] == true"
          (click)="ugasiSijalicu(i)"
          class="btn btn-danger"
        >
          Ugasi
        </button>
      </div>
    </ul>
    <div class="m-1 ml-3">
      <button (click)="upaliSve()" class="btn btn-success">Upali Sve Sijalice</button>
      <button (click)="ugasiSve()" class="btn btn-danger">Ugasi Sve Sijalice</button>
    </div>
  </div>
  <div class="border rounded p-2 shadow">
    <div>
      Ukupno Potrosena Energija : {{ (sijalicaService.sijalicaData.potrosnjaUredjaja).toFixed(1) }}J.
    </div>
    <div>Zajednicko Vreme Rada Svih Sijalica: {{ (sijalicaService.sijalicaData.potrosnjaUredjaja / 0.1).toFixed(1) }}.</div>
    <div>Trenutno je Upaljeno {{ brojUpaljenih }} od 6 sijalica.</div>
  </div>
</div>
